
<h3 class="text-center">Art Cart Products for Sale</h3>

  <nav>
    <a class="link" href="/carts">Cart</a> /
    <a class="link" href="/product_details">Product Details</a>
    <a class="link" href="/pages">Logout</a>
  </nav>

<div id="products">
  <h2> products </h2>
     <ul  id='products'>
      <% @products.each do |product| %>
      <a href= "/products/:id">
         <img src='<%=product.image_url%>' />
      </a>
    <li style="background-image: url('<%= product.image_url %>')">
       <%= render "product_row", product: product, order_item: @order_item %>
      <li>
       <%= link_to product.name, product_path(product.id), :class => "name" %>
        <%= simple_format(product.description) %>
        <em><%= product.price %></em>
        <br />
        <%= link_to "Details", product_path(product) %>
      </li>
  </div>
  <% end %>
 </ul>

