<body id="products">
  <div class="container" id="store_container">
    <div id ='details_content'>
      <h1> Art product : </h1>
        <div id='info' >
          <h2><%= @product.name %></h2>
          <%= simple_format(@product.description) %>
          <em><%= @product.price %></em>
          <br />
        </div>
      <img src='<%= @product.image_url %>' class='img_product_details' />
      </div>
    <%= link_to "Product List", products_path %>
    </div>
  </div>


      <div class="col-md-7">
          <div class="product-title"><%= @product.name %></div>
          <div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
          <div class="btn-group cart">
            <%= link_to "Add to cart", "#", class: "btn btn-success" %>
          </div>
          <div class="btn-group wishlist">
            <%= link_to "Add to wishlist", "#", class: "btn btn-danger" %>
          </div>
           <hr>
          <div class="product-price">$ <em><%= @product.price %></em></div>
          <div class="product-stock">In Stock</div>
          <hr>
        </div>
      </div>
</body>
