<body id="products">
  <div class="container" id="store_container">
    <div id ='details_content'>
      <h1> Art products : </h1>
        <div id='info' >
          <h2><%= @product.name %></h2>
          <%= simple_format(@product.description) %>
          <em><%= @product.price %></em>
          <br />
        </div>
      <img src='<%= @product.image_url %>' class='img_product_details' />
      <div id='description'>
          <p><%= @product.description %></p>
      </div>
    <%= link_to "Product List", products_path %>
    </div>
  </div>
</body>


